/* Link for Google font */
@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
    background-color: lightgray;
}

h1 {
    font-family: 'Teko', sans-serif;
}

.container-lg {
    height: 90vh;
}

footer {
    text-align: center;
}

@media screen and (max-width: 767px){
    .container-lg{
        height: auto;
    }
}