@import url('https://fonts.googleapis.com/css?family=Teko&display=swap');

body {
    background-color: lightgray;
}

h1 {
    font-family: 'Teko', sans-serif;
}

.container-lg {
    margin-top: 15px;
    margin-left: 15px;

}